:root {
    --primary-color: #50514F;
    --text-color: #F2E9DC;
    --accent-color: #91C499;
    --second-accent-color: #F2E9DC;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--grey);
    font-family: "Sofia", sans-serif;
}

.carousel-container {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.carousel-slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: radial-gradient(ellipse at center, transparent 10%, black 80%); /* Apply the vignette effect */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 1) 100%);
    /* Apply the vignette effect */
}

.carousel-slide {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: solid black 5px;
    border-radius: 10px;
    padding: 10px;
    /* background-color: rgb(204, 247, 105); */

    background-color: var(--accent-color);

    color: --;
    font-size: 75px;
    font-weight: bold;
    text-align: center;


    z-index: 2;
}



/* Optional: Add animation for slide transition */
.carousel-slide.active {
    left: 0;
    animation: slide-in 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.carousel-slide.previous {
    left: -100%;
    /* End at the left side */
    animation: slide-out 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

@keyframes slide-in {
    0% {
        left: 100%;
        /* Start at the right side */
    }

    100% {
        left: 0;
        /* End at the left side */
    }
}

@keyframes slide-out {
    0% {
        left: 0%;
        /* Start at the right side */
    }

    100% {
        left: -100%;
        /* End at the left side */
    }
}


.business-section {
    background-color: var(--primary-color);
    padding: 40px 0;
}

.business-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    text-align: center;
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.5;
}



.areas-section {
    background-color: var(--primary-color);
    padding: 60px 0;
    gap: 50px;
    display: flex;
    flex-direction: column;
    
}

.areas-content,
.areas-content-alternate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Center the items horizontally */
    gap: 50px;
    margin-left: 10%;
    margin-right: 10%;
}

.areas-image img {
    border: solid var(--accent-color) 10px;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    /* Ensure the image fits within the container */
}

.areas-text {
    text-align: center;
    max-width: 50%;
    /* Center the text within its container */
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

@media (max-width: 767px) { /* Adjust the breakpoint as needed */
    .areas-content {
        flex-direction: column; /* Display divs vertically on mobile */
        text-align: center; /* Center the content vertically on mobile */
    }
    .areas-content-alternate {
        flex-direction: column-reverse; /* Display divs vertically on mobile */
    }


    .areas-image,
    .areas-text {
      max-width: 100%; /* Reset max-width on mobile */
    }
  }
